
MONGODB_URI=mongodb+srv://mdasifkhan2002_db_user:sPeJ7JMbIHedIOnG@cluster0.nailkxn.mongodb.net/hr-attendance?appName=Cluster0

NEXTAUTH_SECRET=YkGdcognY4JdFwU6ycHv9TEODDeXfEHU3w9TWva5/kA=
NEXTAUTH_URL=http://localhost:3000
IMGBB_API_KEY=fcd0745b0f4068c462162559e882c24c

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyACA2UV845pbU8YEDYM21g2btGyli3cz-A
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=hr-mangement-system-naasmind.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=hr-mangement-system-naasmind
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=hr-mangement-system-naasmind.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=619278654300
NEXT_PUBLIC_FIREBASE_APP_ID=1:619278654300:web:de539fe6de3b4db4abff99
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-PN7QR6VK7X
